@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(121, 121, 192);
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 45px;
}
main{
    padding: 10%;
}
h1{
    padding: 1rem 0;
}
.tabla{
    display: flex;
    color: white;
    font-weight: bold;
    gap: 20px;
    padding: 1rem 0;
}
.codificar{
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
}
.codificar input {
    display: block;
    width: 30%;
    height: 50px;
    
}

.decodificar input{
    display: block;
    width: 30%;
    height: 50px;
    
}
/*.decodificar input{
    display: flex;
    width: 20px;
    height: 50px;
}*/
.textoCodificado{
    display: flex;
    background-color: blue;
    color: white;
    justify-content: center;
}
.nuevoDivCodificador{
    padding: 1rem 0;
}
div{
    gap: 15px;
}
.divResultado{

    display: flex;
    width: 90%;
    height: 90%;
    background-color: rgb(64, 147, 153);
    padding: 2rem;
    color: white;
    align-items: center;
    align-self: center;
    justify-content: center;
       
}

@media only screen and (min-width:890px) {
    
   main{
    padding: 5%;
   }
    .tabla{
        display: flex;
        padding: 1rem;
        gap: 20px;
        width: 100%;
        border-color: black;   
        flex-direction: column;
        
    }
    
   /* .p1{
        display: flex;
        padding: 1rem;
        width: 20px;
        border: 5px;
        border-color: black;
    }*/
    .numero{
        display: flex;
        
       
       color: white;
       
       
       flex-grow: 1;
       flex-direction: row;
       display: flexbox;
       gap: 20px;
       
       
    }
    
    .letra{
        display: flex;
        
       
        
        
        color: white;
        
        flex-grow: 1;
        flex-direction: row;
        display: flexbox;
        
        gap: 33px;
    }
    .codificar{
        display: flex;
        padding: 1rem 0;
        flex-direction: column;
    }
    .codifcar input{
        display: flexbox;
        width: 500px;
        
    }
    .decodificar input{
        display: flexbox;
        width: 500px; 
    }
    .avanzar{
        width: 50px;
    }
    .textoCodificado{
        display: flex;
        padding: 1rem 0;
        background-color: blue;
        color: white;
        justify-content: center;

    }
    .divResultado{

        display: flex;
        width: 90%;
        height: 90%;
        background-color: rgb(64, 147, 153);
        padding: 2rem;
        color: white;
        align-items: center;
        align-self: center;
        justify-content: center;

        
    }

    div{
        gap: 20px;
    }
}